@font-face {font-family: "Avenir";
    src: url("/assets/fonts/Avenir Next LT Pro.eot");
    src: url("/assets/fonts/Avenir Next LT Pro.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Avenir Next LT Pro.woff2") format("woff2"),
    url("/assets/fonts/Avenir Next LT Pro.woff") format("woff"),
    url("/assets/fonts/Avenir Next LT Pro.ttf") format("truetype"),
    url("/assets/fonts/Avenir Next LT Pro.svg#Avenir Next LT Pro") format("svg");
}

.animate-right{position:relative;-webkit-animation:animateright 0.4s;animation:animateright 0.4s}
@-webkit-keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}



/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #19a974;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


